{% load static %}
<div class="task-grid" id="task-{{ task.id }}">
    <div class="task-content">
        <input type="checkbox" hx-post="{% url 'toggle_task_done' task.id %}" hx-trigger="change"
            hx-target="#task-{{ task.id }}" hx-swap="outerHTML" {% if task.is_done %}checked{% endif %}>

        <div class="task-title" id="task-title-{{ task.id }}"
        {% if task.is_done %}style="text-decoration: line-through;" {% endif %}>
            {{ task.title }}
        </div>

        <input type="text" class="edit-task-title" id="edit-task-input-{{ task.id }}" name="title" value="{{ task.title }}"
            style="display: none;" hx-post="{% url 'edit_task' task.id %}"
            hx-trigger="change, blur, keyup[key=='Enter'] from:#edit-task-input-{{ task.id }}" hx-target="#task-{{ task.id }}"
            hx-swap="outerHTML">

    </div>

    <div></div>

    <div class="icons-right">
        <div class="priority-controls">
            <div class="icon">🔼</div>
            <div class="icon">🔽</div>
        </div>
        <div class="icon">
            <img src="{% static 'images/pencil.png' %}" alt="Edit Icon" height="20"
                onclick="enableTaskEdit('{{ task.id }}')">
        </div>
        <div class="icon">
            <img src="{% static 'images/delete.png' %}" alt="Delete Icon" height="20"
                hx-post="{% url 'delete_task' task.id %}" hx-trigger="click" hx-target="#task-{{ task.id }}"
                hx-swap="delete">
        </div>
    </div>
</div>
