{% load static %}
{% csrf_token %}

<div class="task-grid" id="task-{{ task.id }}">
    <div class="task-content">
        <input type="checkbox" {% if task.is_done %}checked{% endif %}>
        <div>{{ task.title }}</div>
    </div>

    <div></div>

    <div class="icons-right">
        <div class="priority-controls">
            <div class="icon">🔼</div>
            <div class="icon">🔽</div>
        </div>
        <div class="icon">
            <img src="{% static 'images/pencil.png' %}" alt="Edit Icon" height="20">
        </div>
        <div class="icon">
            <img src="{% static 'images/delete.png' %}" alt="Delete Icon" height="20">
        </div>
    </div>
</div>
