{% load static %}

<!-- Demo version of manager container for unauthenticated user -->
<div class="grid-container">
    <div class="project-header">
        <div class="icon">📅</div>
        <div>Preps For Interview DEMO</div>
    </div>
    <div></div>
    <div class="icons-right">
        <div class="icon">✏️</div>
        <div class="icon">🗑</div>
    </div>
</div>

<div class="input-row">
    <div class="unified-input">
        <div class="input-icon">➕</div>
        <input type="text" placeholder="Add new task...">
        <button>Add Task</button>
    </div>
</div>

<!-- Example of multiple tasks -->
<div class="task-grid">
    <div class="task-content">
        <input type="checkbox">
        <div>Study theory</div>
    </div>
    <div></div>
    <div class="icons-right">
        <div class="priority-controls">
            <div class="icon">🔼</div>
            <div class="icon">🔽</div>
        </div>
        <div class="icon">✏️</div>
        <div class="icon">🗑</div>
    </div>
</div>

<div class="task-grid">
    <div class="task-content">
        <input type="checkbox">
        <div>Watch some guides.</div>
    </div>
    <div></div>
    <div class="icons-right">
        <div class="priority-controls">
            <div class="icon">🔼</div>
            <div class="icon">🔽</div>
        </div>
        <div class="icon">✏️</div>
        <div class="icon">🗑</div>
    </div>
</div>

<div class="task-grid">
    <div class="task-content">
        <input type="checkbox">
        <div>Listen to podcast.</div>
    </div>
    <div></div>
    <div class="icons-right">
        <div class="priority-controls">
            <div class="icon">🔼</div>
            <div class="icon">🔽</div>
        </div>
        <div class="icon">✏️</div>
        <div class="icon">🗑</div>
    </div>
</div>
